<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<div w3-include-html="elements/header.html"></div>

<div sec:authorize="!isAuthenticated()" w3-include-html="elements/topnav-public.html"></div>
<div sec:authorize="isAuthenticated()" w3-include-html="elements/topnav-user.html"></div>

<div class="row">
    <div class="leftcolumn">

    </div>
    <div class="rightcolumn">

    </div>
</div>

<div w3-include-html="elements/footer.html"></div>

<script>
    w3.includeHTML();
</script>

</body>
</html>