<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="https://www.w3schools.com/lib/w3.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery.payment/1.0.1/jquery.payment.min.js'></script>
    <script type="text/javascript" th:src="@{/js/cc-formatting.js}"></script>
    <script type="text/javascript" th:src="@{/js/form.js}"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>

<div w3-include-html="elements/header.html"></div>
<div w3-include-html="elements/topnav-user.html"></div>

<div class="row">
    <div class="leftblock">
        <div class="balance">
            <div>Available</div>
            <div th:text="${balance}"></div>
        </div>
        <div class="card">
            <input type="button" value="Payment services" >
        </div>
    </div>
    <div class="rightblock">
        <div class="card">
            <form action="/createcard">
                <label>Create your card</label>
                <input type="submit" value="Submit" placeholder="Create">
            </form>
        </div>
        <div class="card" >
            <h2>Top-up your balance</h2></br>
            <label>Choose your card</label>
            <form action="/topup">
            <select name="cardNumber" >
                <option data-th-each="card : ${cardList}" data-th-text="${card.getCardNumber()}"></option>
            </select>
                <input type="number" name="addMoney">
                <input type="submit" value="Submit" placeholder="Top up">
            </form>
        </div>
    </div>
</div>

<div w3-include-html="elements/footer.html"></div>

<script>
    w3.includeHTML();
</script>

</body>
</html>
